::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #484848;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #484848;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #484848;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #484848;
}

.main {
  .navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 999999;
    background: white;

    .left {
      color: #1D9C73;
      font-size: 30px;
      padding: 0 0 0 20px;
      align-self: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;

      .carot {
        display: none;
        cursor: default;

        img {
          width: 15px;
          margin-left: 15px;
          cursor: pointer;
        }
      }

      // a:hover {
      //   background: black;
      // }

      .hidden {
        display: none;
        position: relative;
        border: 1px solid black;
        width: 150px;

        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        ul {
          list-style: none;
        }

        .hidden-search {
          display: none;
        }

        li {
          font-weight: normal;
          color: #646464;
          padding: 18px 30px 15px 15px;
          cursor: pointer;
          font-size: 14px;
        }

        hr {
          background: #DBDBDB;
          border: 0;
          height: 1px;
          width: 90%;
          margin: 5px 10px;
          // text-align: center;
        }

        li:hover + hr {
          background: black;
        }
      }

      a:hover {

      }

      .carot:hover + .hidden, .hidden:hover, a:hover ~ .hidden {
        box-sizing: padding-box;
        display: block;
        position: absolute;
        left: 12px;
        top: 35px;
        z-index: 1;
        margin: 20px;
      }

      .carot:hover {
        // padding: 10px;
        // box-sizing: padding-box;
        // position: relative;
      }

      a {
        padding-top: 4px;
      }

      .search-div {
        position: relative;
        display: flex;
        align-items: center;
        width: 590px;
        cursor: default;

        .fa-search {
          position: absolute;
          font-size: 13px;
          color: #6d6d6d;
          cursor: default;
          left: 35px;
          top: 15px;
        }

        .search-div {
          border: 1px solid gray;
          border-radius: 3px;
        }

        .search-form {
          border-radius: 4px;
          margin-left: 20px;
          display: flex;
          font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
          color: #484848;
          width: 100%;

          .search-input {
            font-size: 14px;
            border-top: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            border-left: 1px solid #DBDBDB;
            padding: 13.5px 0 13.5px 35px;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            cursor: pointer;
          }

          label {
            font-size: 14px;
            // color: #AEA9A9;
            color: #484848;
            // padding: 5px 0 0 5px;
            padding: 13.5px 0 13.5px 13px;
            border-top: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            border-left: 1px solid #DBDBDB;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            cursor: pointer;

            .form-control {
              cursor: pointer;
              // color: #484848;
            }
          }

          .search-input-guest {
            cursor: pointer;
            background: transparent;
            -webkit-appearance: button;
            -webkit-border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -webkit-border-top-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            -webkit-padding-end: 20px;
            -webkit-padding-start: 2px;
            -webkit-user-select: none;
            // background-image: url(http://i62.tinypic.com/15xvbd5.png);
            background-position: 97% center;
            background-repeat: no-repeat;
            border: 1px solid #DBDBDB;
            font-size: 14px;
            color: #484848;
            overflow: hidden;
            padding: 5px 0 5px 13px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100px;
          }

          .submit {
            visibility: hidden;
          }
        }
      }
    }

    @media (max-width: 980px) {

      #carot {
        display: block;
      }

      .right {
        visibility: hidden;
      }
    }

    @media (max-width: 815px) {
      #hidden-search {
        display: block;
      }

      #left, .left {
        width: 0;
      }

      .search-div {
        visibility: hidden;
        width: 0;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      align-items: center;

      .nav-redirect {
        font-size: 14px;
        font-weight: normal;
        color: #585858;
        cursor: pointer;
        margin-left: 20px;
        padding: 11px 0 11px 10px;
      }

      .outer-round {
        padding: 16px 10px 16px 50px;
      }

      .round {
        width: 30px;
        height: 30px;
        border-radius: 17px;
        overflow: hidden;
        border: 2px solid #DBDBDB;

        img {
          height: 30px;
          cursor: pointer;
        }
      }

      .hidden {
        display: none;
        position: relative;
        border: 1px solid black;
        width: 200px;

        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        hr {
          background: #DBDBDB;
          border: 0;
          height: 1px;
          width: 90%;
        }

        .new-user-icon:hover + hr, .nav-link:hover + hr {
          background: black;
        }
      }

      .outer-round:hover + .hidden, .hidden:hover {
        box-sizing: padding-box;
        display: block;
        position: absolute;
        right: -5px;
        top: 35px;
        z-index: 1;
        margin: 20px;
      }

      .nav-link, .new-user-icon {
        font-weight: normal;
        color: #646464;
        padding: 18px 80px 15px 15px;
        cursor: pointer;
        font-size: 14px;
      }

      .nav-link {
        padding: 13px 120px 13px 15px;
      }

      .nav-link-show {
        padding: 25px 40px 25px 0;
        color: #494949;
      }
    }
  }
}
