.spot-form-container {
  padding: 110px 60px 60px 60px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

  .header {
    display: flex;
    font-size: 24px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

    h2 {

    }

    .green {
      padding-left: 4px;
      color: #1D9C73;
      // font-weight: 500;
    }
  }

  .new-spot-form {
    display: flex;
    flex-direction: row;


    .form {
      display: flex;
      flex-direction: column;
      width: 400px;

      label {
        font-size: 20px;
      }

      input, textarea {
        border: 1px solid black;
      }
    }

    h3 {
      margin-top: 0;
      padding-top: 0;
      font-size: 20px;
    }

    .map-holder {
      display: flex;
      flex-direction: column;
      margin: 20px;

      .map-container {
        width: 400px;
        height: 400px;
        #map-container {
          width: 400px;
          height: 400px;
        }
      }
    }

    .listings-button-holder {

    }
  }

  .image {
    width: 150px;
  }
}
