.outer-main-div {
  padding-top: 60px;

  .top-title {
    font-size: 50px;
    font-weight: lighter;
    padding: 20px;
    margin: 20px;

    strong {
      font-weight: normal;
      color: #1D9C73;
    }
  }
}
