.my-trips {
  padding: 96px 60px 60px 60px;
  color: #484848;

  h1 {
    font-size: 24px;
    color: #484848;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 10px;
  }

  p {
    margin-left: 40px;
  }

  .trips-index {

    .trip-item-outer {
      display: flex;
      border: 1px solid #dce0e0;
      padding: 20px;
      margin: 20px 0 20px 0;
      display: flex;
      flex-direction: row;

      .trip-index-item {
        display: flex;

        .item-details {
          display: flex;
          flex-direction: column;
          position: relative;

          #round {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            justify-content: center;
            position: absolute;
            top: 40px;
            left: -30px;

            #host-image {
              width: 90px;
            }
          }
        }

        .image-container {
          width: 200px;
          height: 140px;
          overflow: hidden;
          background-size: cover;
          background-position: center;
        }

        img {
          width: 200px;
        }

        .dates-container {
          margin-top: 12px;
        }

        .dates {
          display: flex;

          p {
            padding-right: 9px;
          }
        }
      }
    }
  }

  .delete-button-holder {
    margin-left: auto;
  }

  .delete-button {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background: #1D9C73;
    border-color: #1D9C73;
    color: #fff7f8;
    width: 180px;
    height: 50px;
    margin: 0 0 0 100px;
    padding: 15px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-left: 100px;
  }

  .delete-button:hover {
    background: #38A783;
  }
}
