.my-trips {
  padding: 106px 60px 60px 60px;

  h1 {
    font-size: 24px;
    color: #484848;
    font-weight: bold;
  }

  .trips-index {

    .trip-index-item {

      img {
        width: 100px;
      }

    }
  }
}
