body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.spots-index-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 66px;
  width: 100%;

  .spots-index-left {
    width: 60%;
    // position: relative;

    .spots-index-filters {
      width: 100%;
      position: fixed;
      background: white;
      padding: 20px;

      .slider {
        width: 200px;
      }
    }

    .spots-index {
      display: flex;
      flex-wrap: wrap;
      padding: 50px 20px 20px 20px;
      width: 100%;
      box-sizing: border-box;
      justify-content: space-between;
      align-content: space-between;

      .spot-index-item {
        width: 48.5%;
        margin: 20px 0 20px 0;

        // height: 48%;

        // padding: 10px;
        cursor: pointer;
        // box-sizing: border-box;

        .img-container {
          width: 100%;
          height: 220px;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: 50% 50%;
            // object-fit: cover;
          }

        }

        .spot-index-item-detail {
          display: flex;
          p {
            padding-right: 10px;
            padding-top: 5px;
            font-weight: 700;
            color: #484848;
            font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
            font-size: 15px;
          }
        }

      }
    }
  }

  .spots-index-right {
    // width: 40%;
    display: flex;
    position: relative;

    .fixed {
      position: fixed;
      width: 40%;
      height: calc(100% - 66px);

      #map-container {
        box-sizing: border-box;
        height: 100%;
      }
    }

  }
}
