.spots-index {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 66px;
  // position: relative;

  .spots-index-left {
    flex-wrap: wrap;
    width: 60%;
    display: flex;

    .spots-index-top {
      width: 100%;
    }

    .spot-index-item {
      width: 50%;

      img {
        width: 80%;
      }

    }
  }

  .spots-index-right {
    width: 40%;
    display: flex;

    #map-container {
      position: fixed;

      img {
        width: 100%;
      }
    }
  }
}
