.login-signup-form-container {
  .padding {
    height: 66px;
  }

  .login-signup-header {
    display: flex;
    background: #edefed;
    flex-direction: row;
    padding: 12px;
    justify-content: center;
    border-bottom: 1px solid #dce0e0;

    h2 {
      font-size: 15px;
      font-weight: 400;
      color: #767676;
    }

    .main-redirect-x {
      position: absolute;
      right: 10px;
      top: 38.5px;
      color: #aaa;
      font-size: 20px;
      // padding-top: 100px;
    }
  }

  .login-signup-form-box {
    display: flex;
    width: 725px;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    // padding-top:
    margin: 0 auto;

    .login-form-box {

      hr {
        border: 0;
        height: 1px;
        background: #DCE0E0;
        margin: 13px 0 14px 0;
        // background-image: linear-gradient(to right, #ccc, #333, #ccc);
      }

      .errors {
        list-style: none;
        padding: 0 0 15px;
        color: #767676;
      }
    }

    .signup-top {
      font-size: 20px;
      font-weight: 400;
    }

    .username-input, .first-name-input, .password-input {
      position: relative;

      i {
        position: absolute;
      }
    }

    .username-input i {
      right: 15px;
      top: 16px;
    }

    .first-name-input i {
      right: 17px;
      top: 18px;
    }

    .password-input i {
      right: 19px;
      top: 18px;
    }

    .small {
      width: 100%;
      text-align: center;
      font-weight: 400;
      color: #767676;
      font-size: 13px;
    }

    .small hr {
      margin-left: auto;
      margin-right: auto;
      width: 48%;
      background: #DCE0E0;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    p {
      padding: 25px 0 0;
      color: #767676;
      line-height: 2;
    }

    .login-signup-form input {
      box-sizing: border-box;
      border: 1px solid #aaa;
      border-radius: 2px;
      background-color: #fff;
      color: #767676;
      padding: 15px;
      width: 725px;
      margin: 3px 0 3px 0;
    }

    .button {
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      background: #1D9C73;
      border-color: #1D9C73;
      color: #fff7f8;
      width: 725px;
      margin: 25px 0 3px 0;
      padding: 15px;
      font-weight: 300;
      letter-spacing: 1.5px;
    }

    .button:hover {
      background: #38A783;
      border-color: #38A783;
    }

    #button:hover {
      background: #38A783;
      border-color: #38A783;
    }

    #button {
      border-color: #1D9C73;
      background: #1D9C73;
      color: #fff7f8;
      border-radius: 4px;
      margin-top: 25px;
    }

    .fa {
      color: #aaa;
      font-size: 22px;
    }

    .redirect {
      display: flex;
      justify-content: space-between;
      width: 100%;

      a {
        padding: 6px 0 6px 0;
        width: 100px;
        height: 20px;
        border-radius: 4px;
        border-color: #1D9C73;
        border: 1px solid #1D9C73;
        color: #1D9C73;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
      }

      p {
        padding: 0;
      }
    }
  }
}
