.login-signup-form-container {
  .login-signup-header {
    display: flex;
    background: #edefed;
    flex-direction: row;
    padding: 12px;
    justify-content: center;
    border-bottom: 1px solid #dce0e0;

    h2 {
      font-size: 15px;
      font-weight: 400;
      color: #767676;
    }

    .main-redirect-x {
      // justify-content: flex-end;
      // margin-left: auto;
      position: absolute;
      right: 10px;
      top: 5px;
      // !!!
      color: #aaa;
      font-size: 20px;
    }
  }

  .login-signup-form-box {
    display: flex;
    width: 725px;
    // background: #d3f9ff;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    //
    // .top-section {
    //   border-bottom: 1px solid #dce0e0;
    // }

    .login-form-box {

      hr {
        border: 0;
        height: 1px;
        background: #DCE0E0;
        // background-image: linear-gradient(to right, #ccc, #333, #ccc);
      }

      .errors {
        list-style: none;
        padding: 0 0 15px;
        color: #767676;
      }
    }

    .signup-top {
      font-size: 20px;
      // font-weight: 350px;
    }

    .username-input, .first-name-input, .password-input {
      position: relative;

      i {
        position: absolute;
      }
    }

    .username-input i {
      right: 38px;
      top: 18px;
    }

    .first-name-input i {
      right: 40px;
      top: 20px;
    }

    .password-input i {
      right: 42px;
      top: 20px;
    }

    .small {
      width: 675px;
      text-align: center;
      // padding: 0 25px;
      font-weight: 400;
      color: #767676;
      font-size: 13px;
    }

    .small hr {
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      background: #DCE0E0;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    p {
      padding: 25px 0 0;
      color: #767676;
      line-height: 2;
    }

    .login-signup-form input {
      box-sizing: border-box;
      border: 1px solid #aaa;
      border-radius: 2px;
      background-color: #fff;
      color: #767676;
      padding: 15px;
      width: 675px;
      margin: 3px 0 3px 0;
    }

    .button {
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      background: #1D9C73;
      border-color: #1D9C73;
      color: #fff7f8;
      width: 675px;
      margin: 25px 0 3px 0;
      padding: 15px;
    }

    .button:hover {
      background: #38A783;
      border-color: #38A783;
    }

    #button:hover {
      background: #38A783;
      border-color: #38A783;
    }

    #button {
      border-color: #1D9C73;
      background: #1D9C73;
      color: #fff7f8;
      // font-weight: normal;
      border-radius: 4px;
      margin-top: 25px;
    }

    .fa {
      color: #aaa;
      font-size: 22px;
    }

    .redirect {
      display: flex;
      // flex-direction: row;
      justify-content: space-between;
      // align-content: flex-end;
      // padding-left: 25px;
      width: 675px;

      a {
        padding: 6px 0 6px 0;
        width: 100px;
        height: 20px;
        border-radius: 4px;
        border-color: #1D9C73;
        border: 1px solid #1D9C73;
        color: #1D9C73;
        text-align: center;
        font-size: 16px;
        // align-items: center;

        // justify-content: space-between;
        // justify-content: flex-end;
        // margin: 0;
        // line-height: 0;
      }

      p {
        padding: 0;
        // justify-content: space-between;

      }
    }
  }
}
