.my-listings {
  padding: 106px 60px 60px 60px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 24px;
    color: #484848;
    font-weight: bold;
  }

  .button {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background: #1D9C73;
    border-color: #1D9C73;
    color: #fff7f8;
    width: 200px;
    height: 50px;
    margin: 25px 0 0 0;
    padding: 15px;
    font-weight: 300;
    letter-spacing: 1.5px;
  }

  .button:hover {
    background: #38A783;
  }

  .listings-index {
    .spot-listing-item-outer {
      display: flex;
      border: 1px solid #dce0e0;
      padding: 20px;
      margin: 20px 0 20px 0;
      display: flex;
      flex-direction: row;

      .spot-listing-item {
        display: flex;

        .img-container {
          width: 200px;
          height: 140px;
          overflow: hidden;
          background-size: cover;
          background-position: center;

          img {
            width: 200px;
          }
        }

        .spot-listing-item-detail {
          h3, p {
            padding-left: 20px;
          }

          h3 {
            margin-bottom: 10px;
          }
        }
      }

      .delete-button-holder {
        display: flex;
        align-items: flex-end;
        margin-left: auto;

        .delete-button {
          font-size: 16px;
          box-sizing: border-box;
          cursor: pointer;
          text-align: center;
          border-radius: 4px;
          background: #1D9C73;
          border-color: #1D9C73;
          color: #fff7f8;
          width: 160px;
          height: 50px;
          margin: 25px 0 0 10px;
          padding: 15px 0 15px 0;
          font-weight: 300;
          letter-spacing: 1.5px;
        }

        .delete-button:hover {
          background: blue;
          background: #38A783;
        }
      }
    }
  }
}
