.spot-show {
  width: 100%;
  // height: 550px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;


  .spot-image-cover {
    width: 100%;
    // height: calc(100% - 150px);
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .spot-image {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 550px;
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }

  .overview {
    display: flex;
    padding: 30px;

    h2 {
      padding: 20px;
      font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20px;
    }
  }

  .round {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;

    #host-image {
      width: 90px;
    }
  }

  .about-this-listing {
    
  }

  .spot-show-detail {
    .spot-detail {
      .overview {
        #host-image {
          width: 100px;
        }
      }
    }
  }
}
