.spot-show {
  width: 100%;
  height: 550px;

  .spot-image-cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .spot-image {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 550px;
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }

  }

  .host-image {
    width: 100%;
  }

  .spot-show-detail {
    .spot-detail {
      .overview {
        img .host-image {
          width: 100px;
        }
      }
    }
  }
}
