.spot-show {
  width: 100%;
  // height: 550px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #484848;

  .spot-image-cover {
    width: 100%;
    // height: calc(100% - 150px);
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .spot-image {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 550px;
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }

  .overview {
    display: flex;
    padding: 40px 30px 30px 60px;

    .detail {
      display: flex;
      flex-direction: column;
    }

    h2 {
      padding: 20px 0 10px 20px;
      font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 24px;
      color: #484848;
      font-weight: normal;
    }

    p {
      color: #484848;
      padding: 0 0 0 20px;
    }
  }

  .round {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;

    #host-image {
      height: 80px;
    }
  }

  .about-this-listing {
    padding: 0 0 30px 60px;

    h2 {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      color: #484848;
      font-weight: 300px;
      width: 700px;
    }
  }

  .spot-show-detail {
    .spot-detail {
      .overview {
        #host-image {
          width: 100px;
        }
      }
    }
  }
}
